<div class='banner'>
  <h1>Montreux Social</h1>
  <p class='col-6'>Welcome to Montreux Social, just a low budget site to keep up on things around the complex and socialize. There are no user accounts, and the comments are anonymous.. so please keep it neighborly.</p>
</div>


<%= simple_form_for @comment do |f| %>
  <%= f.input :text, required: true, placeholder: "Spill the beans..." %>  
  <%= f.submit "Share", class: "btn btn-flat" %>
<% end %>

<% @comments.each do |comment| %>
  <%= image_tag "#{comment.image}", alt: "wtf 🤬" %>
  <p><%= comment.text %></p>
<% end %>